body {
    margin: 0;
    background-color: #4B4B4B;
    font-family: Gothic A1, sans-serif;
}

@font-face {
    font-family: 'Mode Seven';
    src: url('./ModeSeven.ttf');
    src: url('./ModeSeven.woff');
}

.button  {
    background-color: #3AE374;
    color: #000000;
    padding: 6px 10px;
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
    text-align: center;
    min-width: 50px;
}

.button:hover {
    background-color: #2ECC6A;
}

.cancel {
    background-color: #FFFFFF;
}

.cancel:hover {
    background-color: #E5E5E5;
}

.button:active {
    color: #FFFFFF;
}

.icon-button {
    padding: 5px 5px 2px;
    cursor: pointer;
    background-color: #3AE374;
    border-radius: 5px;
    margin: 5px;
}

.icon-button:hover {
    background-color: #2ECC6A;
}

.icon-button:active > * {
    filter: invert(100%);
}

input {
    background-color: #2D2D2D;
    color: #3AE374;
    border: 2px solid #3AE374;
    border-radius: 4px;
    padding: 12px 20px;
    font-size: 16px;
}

input:focus {
    outline: none;
}

label {
    color: #3AE374;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}